@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: "#F4F7FF";
		--foreground: 240 10% 3.9%;
		--background-primary: "#393F8A";
		--card: 0 0% 100%;
		--border_card: "#C3D5FF";
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: "#313678";
		--primary_800: "#0F172A";
		--primary-foreground: "#313678";
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: "#64748B";
		--muted-foreground: "#C3D5FF";
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--light: "#fff";
	}

	.dark:root {
		--background: "#F4F7FF";
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--border_card: "#C3D5FF";
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: "#fff";
		--primary_800: "#fff";
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: "#64748B";
		--muted-foreground: "#C3D5FF";
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--light: "#000";
	}
}
